@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #FAD339;
  --color-bg: #f9f9f9;
  --color-black: #111111;
}

@layer base {
  body {
    @apply bg-bg text-black font-sans antialiased;
  }
}
